@page "/Documents/Sections/SectionHome/ListDocuments"
@page "/Documents/Sections/SectionHome/ListDocumentsInSet"

@inject NavigationManager nav

<div class="container-fluid">

    @if (IsLoading)
    {
        <p>Please wait while your data is set up....</p>
    }
    else
    {
        <PageHeader Title="Document Sections" BackToURL="@backToUrl"/>

        <div class="card-columns">
            @foreach (XmlNode node in datasheetNodes.ChildNodes)
            {
                <SectionCard Node="@node" />
            }
        </div>
    }

</div>

@code
{

    [CascadingParameter] public AppState AppState { get; set; }

    string backToUrl;
    bool IsLoading;
    XmlNode datasheetNodes;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        try
        {
            IsLoading = true;

            XmlDocument xDoc = AppState.DocumentSetXml;
            datasheetNodes = xDoc.DocumentElement.SelectSingleNode("Datasheet");

            if (nav.Uri.Contains("ListDocumentsInSet"))
            {
                backToUrl = "/Documents/ListDocumentsInSet";
            }
            else
            {
                backToUrl = "/Documents/ListDocuments";
            }

            IsLoading = false;

        }
        catch (Exception ex)
        {
            Console.Write(ex.StackTrace);
        }
    }
}