@page "/Documents/Sections/SectionHome"

@inject NavigationManager nav


@if (IsLoading)
{
    <p>Please wait while your data is set up....</p>
}
else
{
    <PageHeader Title="Document Sections" />

    <div class="card-columns">
        @foreach (XmlNode node in datasheetNodes.ChildNodes)
        {
            <SectionCard Node="@node" />
        }
    </div>
}

@code
{

    [CascadingParameter] public AppState AppState { get; set; }

    bool IsLoading = true;
    XmlNode datasheetNodes;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        try
        {
            XmlDocument xDoc = AppState.DocumentSetXml;
            datasheetNodes = xDoc.DocumentElement.SelectSingleNode("Datasheet");

            IsLoading = false;

        }
        catch (Exception ex)
        {
            Console.Write(ex.StackTrace);
        }
    }
}