@page "/Documents/Sections/SectionMaster/{*NodeName}"

@inject NavigationManager nav
@inject HttpClient api

<EditForm EditContext="CurrentEditContext" OnValidSubmit="SaveAsync">

    <div class="container-fluid">

        <ComplexTypeComponent Node="@activeNode" Entity="@entity" />

        <button type="submit" class="btn btn-primary">Save</button>

    </div>

</EditForm>

@code
{
    [CascadingParameter] public AppState AppState { get; set; }

    [Parameter] public string NodeName { get; set; }
    [Parameter] public string EntityType { get; set; }


    public EditContext CurrentEditContext { get; set; }

    private XmlNode activeNode;
    private BaseEntity entity;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (NodeName.Contains(@"/"))  //this hack is needed because blazor router strips // from front of xpath for some reason
        {
            NodeName = @$"//{NodeName}";
        }

        activeNode = AppState.ActiveDatasheet.DatasheetXDoc.DocumentElement.SelectSingleNode(NodeName);

        entity = AppState.SchemaElements.Where(s => s.NodeName == activeNode.Name).FirstOrDefault();

        CurrentEditContext = new EditContext(activeNode);

    }

    private async Task SaveAsync()
    {
        AppDataService dMgr = new(api);

        AppState.ActiveDatasheet = await dMgr.UpdateDatasheetAsync(AppState.ActiveDatasheet);

        AppState.StatusBarMessage = "Datasheet saved";

        nav.NavigateTo("/Documents/Sections/SectionHome");
    }
}
