@page "/AppInfo"

@using eSDSCom.Editor.Client.Models

<h5>eSDScom Info</h5>

<table class="table table-bordered table-striped">
<tr>
    <td>eSDSxml Version</td>
    <td>@AppState.ESDSXmlVersion</td>
</tr>
<tr>
    <td>eSDSphrac Catalogue Name</td>
    <td>@AppState.ESDSphracCatalogueName</td>
</tr>
<tr>
    <td>eSDSphrac Version</td>
    <td>@AppState.ESDSPhraCVersion</td>
</tr>
<tr>
    <td>eSDSphrac Phrase Catalogue Id </td>
    <td>@AppState.ESDSphracPhraseCatalogueId</td>
</tr>
</table>


@code
{
        [CascadingParameter] public AppState AppState { get; set; }
}
