@page "/AppInfo"

<div class="container-fluid">

    <PageHeader Title="eSDScom Info" />

    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>eSDSxml Version</td>
                    <td>@AppState.ESDSXmlVersion</td>
                </tr>
                <tr>
                    <td>eSDSphrac Catalogue Name</td>
                    <td>@AppState.ESDSphracCatalogueName</td>
                </tr>
                <tr>
                    <td>eSDSphrac Version</td>
                    <td>@AppState.ESDSPhraCVersion</td>
                </tr>
                <tr>
                    <td>eSDSphrac Phrase Catalogue Id </td>
                    <td>@AppState.ESDSphracPhraseCatalogueId</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Alpha release B - 16 May, 2022</span>
        </div>
    </div>

</div>


@code
{
    [CascadingParameter] public AppState AppState { get; set; }
}
