@page "/AppInfo"

@using eSDSCom.Editor.Client.Models

@inject AppSettings appSettings

<h5>eSDScom Info</h5>

<table class="table table-bordered table-striped">
<tr>
    <td>eSDSxml Version</td>
    <td>@appSettings.ESDSXmlVersion</td>
</tr>
<tr>
    <td>eSDSphrac Catalogue Name</td>
    <td>@appSettings.ESDSphracCatalogueName</td>
</tr>
<tr>
    <td>eSDSphrac Version</td>
    <td>@appSettings.ESDSPhraCVersion</td>
</tr>
<tr>
    <td>eSDSphrac Phrase Catalogue Id </td>
    <td>@appSettings.ESDSphracPhraseCatalogueId</td>
</tr>
</table>


@code {

}
