
    <div class="row d-flex">
        <div class="col-8 d-flex align-items-center justify-content-start">
          <span> @AppState.StatusBarMessage  </span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
           <span> @DateTime.UtcNow.ToLongDateString() </span>
        </div>
    </div>


@code
{
    [CascadingParameter] public AppState AppState { get; set; }
}
