@inject NavigationManager nav

<div class="container-fluid">
    <div class="row d-flex align-items-center bg-secondary">
        <div class="col-2">
            <button type="button" class="btn btn-link text-white float-left" @onclick="GoHome">eSDSCom editor</button>
        </div>   
        <div class="col-10 border-dark">
            <span class="float-right text-white">@AppState.StatusBarMessage </span>
        </div>
    </div>
</div>

@code
{
    [CascadingParameter] public AppState AppState { get; set; }

    private void GoHome()
    {
        nav.NavigateTo("/");
    }
}
