@inject NavigationManager nav

<div class="card border-white mb-3 bg-dark text-white">
	<div class="card-header lightbackground">
		<div class="float-right">
			<span>@CardItem!.Title </span>
		</div>
		@if (hasImage)
		{
			<div vclass="float-left">
				<img src="@CardItem.ImageURL" height="30" width="30"/>
			</div>
		}
	</div>
	
	<div class="card-body">
		<span class="card-text"> @CardItem!.Comment</span>
		<hr />
		<button type="button" class="btn btn-secondary" @onclick="@FollowActionLink">Go</button>
	</div>
	
</div>

@code
{
	[Parameter] public CardItem CardItem { get; set; }
	private bool hasImage;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		hasImage =!string.IsNullOrEmpty(CardItem.ImageURL);

    }

	private void FollowActionLink()
	{
		nav.NavigateTo(CardItem!.ActionLink!);
	}


}
