<div class="row">
    <div class="col border border-info text-info m-3">
        @foreach (var item in HelpItems)
        {
            if (item.Key == "Occurs" && item.Value.ToString().ToLower().StartsWith("required"))
            {
                <span class="text-danger">@item.Key: @item.Value</span>
                <br />
            }
            else
            {
                <span>@item.Key: @item.Value</span>
                <br />
            }
        }
    </div>
</div>

@code
{
    [Parameter] public Dictionary<string, object> HelpItems { get; set; }
}