
    <div class="row">
        <div class="col">
            <span>Created on: @CreatedDate , Last updated on: @UpdatedDate</span>
        </div>
    </div>


@code 
{
    [Parameter] public DateTime CreatedDate { get; set; }

    [Parameter] public DateTime UpdatedDate { get; set; }
}
