@inject HttpClient api

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-secondary" @onclick="@ViewPDF">View PDF</button>
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-secondary" @onclick="@ViewWord">View Word doc</button>
  </div>
</div>

@code 
{
    protected override void OnInitialized()
    {

        base.OnInitialized();
    }

    private void ViewPDF()
    {
        
    }

     private void ViewWord()
    {
        
    }

}
