@inject NavigationManager nav

<div class="row mb-2">
    <div class="col-2">
        <button type="button" class="btn btn-link m-2" @onclick="ToggleHelp">@displayname</button>
    </div>
    <div class="col-10">
        <button type="button" class="btn btn-primary" @onclick="GoToComplexType">Edit</button>
    </div>
</div>

<div hidden="@bHideHelp">
    <DataPointCommentsComponent HelpItems="@HelpItems" />
</div>

@code
{
    [CascadingParameter] public AppState AppState { get; set; }

    [Parameter] public XmlNode Node { get; set; }

    [Parameter] public BaseEntity Entity { get; set; }

    public Dictionary<string, object> HelpItems { get; set; } = new();

    string displayname;
    bool bHideHelp;
    string xPath;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        bHideHelp = true;
        xPath = XmlUtils.GetFullXPath(Node);

        if (Entity is not null)
        {
            displayname = Entity.DisplayName;
            HelpItems.Add("Comments", $"{Entity.Comments} {Entity.TypeComments}");
            HelpItems.Add("Occurs", Utils.GetOccursText(Entity.Occurs));
            HelpItems.Add("eSDSphrac phrase group", xPath);
        }
        else
        {
            displayname = "entity Not found!!!";
        }

        
    }

    private void ToggleHelp()
    {
        bHideHelp = !bHideHelp;
    }

    private void GoToComplexType()
    {
        nav.NavigateTo($"/Documents/Sections/SectionMaster/{xPath}");
        StateHasChanged();
    }


}
