@inject AppData appData

<div class="form-group">

    <p>Region(s) included:</p>

    @foreach (Region item in DatasheetRegions)
    {
        <label>           
            <InputCheckbox type="checkbox" id="@item.Suffix" @bind-Value="@item.IsSelected" />
             @item.Name
        </label>
        <br/>
    }

</div>

@code
{
    [CascadingParameter] public AppState AppState { get; set; }

    [Parameter] public EventCallback<List<Region>> OnRegionsSelected { get; set; }

    [Parameter] public List<Region> DatasheetRegions { get; set; }

    List<Region> selectedRegions = new();

    protected override void OnInitialized()
    {
        if (DatasheetRegions is null)
        {
            DatasheetRegions = Utils.GetRegions();
        }

    }

    private async Task RegionsSelected()
    {
        await OnRegionsSelected.InvokeAsync(selectedRegions);
    }

}
