<div class="appspinner">
    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></div>
    <span>@Text</span>
</div>


<style>

    .appspinner 
    {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

</style>

@code
{
    [Parameter] public string Text { get; set; } = "Loading data...please wait";


}